<div>
  <div id="card">
    <!-- fuente https://co.pinterest.com/pin/357543657913336840/ -->
    <div id="left"></div>
    <div id="right">
      <div class="container">
        <div class="container--info">
          <h2>Nombre</h2>
          <h2>Nikola Tesla - 1856 a 1943</h2>
        </div>

        <div class="container--info">
          <h2>Ocupación</h2>
          <h2> físico e inventor</h2>
        </div>

        <div class="container--bio">
          <!-- fuente https://es.wikipedia.org/wiki/Nikola_Tesla -->
          <h2>Biografía</h2>
          <p>
            Nikola Tesla fue un inventor, ingeniero eléctrico y mecánico serbio nacionalizado estadounidense, 
            célebre por sus contribuciones al diseño del moderno suministro de electricidad de corriente alterna.
            Inventor de el Bulbo, Corriente alterna y motor eléctrico.
          </p>
          <p>
            Entre algunos de los descubrimientos que podemos citar de Tesla figuran el motor de corriente alterna, 
            el radar, los rayos X, la transferencia de energía eléctrica en forma inalámbrica, el control remoto, 
            el microscopio electrónico, herramientas de medición y control climático; además fundó el laboratorio 
            de investigaciones electrotécnicas donde descubrió el principio del campo magnético rotatorio y los sistemas 
            polifásicos de corriente alterna.
          </p>
          <p>
            Dada la trascendencia de los inventos de Tesla, se enfrentó a múltiples 
            ataques por parte de los monopolios de energía eléctrica, sin embargo, esto no frenó su entusiasmo y sus ganas 
            de seguir diseñando e inventando aparatos eléctricos que contribuyeran al desarrollo y bienestar de la humanidad. 
            Este hombre fue un visionario, digno de ser imitado en muchos aspectos de su vida.
          </p>
        </div>

        <div class="container--img">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Nikola_Tesla%2C_with_his_equipment_Wellcome_M0014782.jpg/1920px-Nikola_Tesla%2C_with_his_equipment_Wellcome_M0014782.jpg" class="jpg" alt="undefined" width="100%">
        </div>

        <div class="video">
          <!-- <iframe width="100%"src="https://www.youtube.com/embed/dy28qkNmqN8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
          <iframe width="100%" src="https://www.youtube.com/embed/2d7uZYOeF3A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>

      </div>

      <div class="container">
        <div class="container__form">
          <h2>Deja un comentario aquí debajo</h2>
          <form>
            <input type="text" placeholder="Nombre" required>
            <textarea placeholder="Comentario" required ></textarea>
            <button type="submit">Enviar</button>
          </form>
      </div>
    </div>
  </div>
</div>